#main-sections, html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Didact Gothic', sans-serif;
}


#main-sections {
	display: flex;
	flex-direction: row;
}

/* change the layout for mobile screens */
@media only screen and (max-width: 600px) {
   #main-sections {
   		flex-direction: column-reverse;
   }
}
.icon {
	width: 18px;
	height: 18px;
	opacity: .5;
}
.main-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}
#section-view {
	
	
}
#section-editor {
	
}

.table {
	width: 100%;
}

.row {
	margin: 2px;
flex: none;
	display: flex;
	flex-direction: column;
}

.row-header {
	min-height: 10px;
	background-color: hsla(150, 0%, 90%, .1);
}

.row-content {
	flex: 1;
	display: flex;
	flex-direction: row;
}
.row-label {
	width: 20px;
	background-color: hsla(150, 50%, 90%, .6);
}


.section {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 2px;
	padding: 2px;
}

.section-header {
	min-height: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: hsla(150, 0%, 90%, .1);
}

.section-headertitle {
	text-align: left;
}
.section-headercontrols {
	text-align: right;
}

.section-main {
	overflow: scroll;
	flex: 1;
	display: flex;
	flex-direction: column;
	
}

.section-footer {
	background-color: hsla(350, 50%, 90%, .1);
}




/* 
--------------------------------------------
	sliders 
*/

.slider-header {
	width: 100px;
}

.slider-label {
	font-weight: bold;
	font-size: 90%;
	
}

.slider-value {
	font-style: italic;
	font-size: 90%;
	color: rgba(0, 0, 0, .5);
}

.slider-holder {
	display: flex;
	flex-direction: row;
	
	position: relative;
	padding: 5px 18px;
}

.slider-main {
	flex: 1;
	flex-direction: row;
	
	position: relative;
	padding: 5px 18px;
}
.slider-tickrow {
	height: 8px;
	position: relative;
}
.slider-tick {
	 text-indent: 3px;
	color: rgba(0, 0, 0, .5);
	background-color: hsla(350, 50%, 0%, 1);
	height: 6px;
	width: 1px;
	font-size: 70%;
	position: absolute;
}
.labeldata {
	margin: 1px;
	border-radius: 10px;
	background-color: hsla(350, 0%, 90%, .2);
	display: inline-block;
}
.labeldata-label {
	font-style: italic;
		font-size: 70%;
		padding: 1px 3px;
	display: inline-block;
}
.labeldata-value {
display: inline-block;
margin: 2px;
	border-radius: 10px;
	background-color: hsla(350, 0%, 90%, .2);
}

